body{
    background-color: grey;

}
#CSS{
    background-color:white;
}
#Język{
    background-color: darkkhaki;
}
#czym{
    background-color: darkmagenta;
}
#podobnie{
    background-color: darkorange;
}
#selektor{
    background-color: darkseagreen;
}