body{
    background-color: grey;

}
#css{
    background-color:white;
}
#language{
    background-color: darkkhaki;
}
#which{
    background-color: darkmagenta;
}
#similar{
    background-color: darkorange;
}
#selector{
    background-color: darkseagreen;
}